@model IEnumerable<QFD.Models.Cart>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<style>
    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        font-size: 1.3rem;
        height: 30px;
    }

    li a {
        color: rgb(108, 117, 125);
        padding: 14px 0px;
        /* display: block; */
        text-align: center;
        text-decoration: none;
    }

    .active {
        border-bottom: 3px solid rgb(40, 187, 173);
        color: rgb(40, 187, 173);
    }

    a:hover { color: rgb(40, 187, 173); }

    .productName {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .productDescription {
        color: rgb(108, 117, 125);
        line-height: 18px;
    }

    .productPrice {
        color: rgb(40, 187, 173);
        font-size: 1.4rem;
        font-weight: bold;
    }

    #navBar { padding: 10px 8px; }

    .line {
        border-bottom: 1px solid rgb(200, 200, 200);
        left: -10px;
        margin-bottom: 1rem;
        position: relative;
        width: 110%;
    }

    .container {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .arrow-icon {
        display: inline-block;
        height: 45px; /* Set the height of your arrow icon */
        /* Add your arrow icon background image or icon styling */
        margin-right: 0;
        width: 45px; /* Set the width of your arrow icon */
    }

    .text {
        flex: 1; /* Allow the text to expand and take available space */
        left: -1vw;
        position: relative;
        text-align: center; /* Center align the text */
    }

    #cartList {
        background-color: rgb(248, 248, 248);
        border-radius: 20px;
        margin-right: 2vw;
        margin-left: 2vw;
        
        width: 98%;
        padding-right: 3vw;
        padding-left: 3vw;
        padding-top: 2vh;
        padding-bottom: 1vh;
    }

    #resultDiv {
        margin-right: 4vw;
        margin-left: 4vw;
        line-height: 1.8;   
    }

    #paymentDiv {
        margin-right: 4vw;
        margin-left: 4vw;
    }

    #buttonDiv {
        margin-right: 4vw;
        margin-left: 4vw;
    }

    #footerDiv {
        height: 5vh;
    }

    .whiteBg { background-color: white; }

    .cartPic {
        margin-left: 1vw;
        margin-top: 1vh;
        max-width: 211px;
        width: 32vw;
    }

    .qtyContainer {
        align-items: center;
        background-color: rgb(203, 243, 240);
        border-radius: 15px;
        display: flex;
        height: 6vh;
        justify-content: space-around;
        width: 36vw;
    }

    .minusBtn {
        background-color: white;
        border: none;
        border-radius: 40px;
        color: rgb(203, 243, 240);
        font-size: 2rem;
        height: 30px;
        width: 30px;
    }

    .addBtn {
        background-color: black;
        border: none;
        border-radius: 40px;
        color: white;
        font-size: 2rem;
        height: 30px;
        width: 30px;
    }

    #qtyAndCheckOutContainer {
        padding-left: 2rem;
        padding-right: 1.5rem;
    }

    .bText { font-size: 140%; }

    body {
        font-size: 2rem;
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .arrow-icon {
        align-items: center;
        display: flex;
    }

    .aIcon {
        max-width: 50px;
        width: 8vw;
    }

    .trashPic {
        margin-left: 5vw;
        max-width: 35px;
        width: 6vw;
        height: 6vh;
    }

    .padLeft { padding-left: 1.5vw; }

    .align-right {
        float: right;
    }

    .sumText {
        font-size: 120%;
    }

    .blueFont {
        color: rgb(40, 187, 173);
    }

    .line-div {
        color: rgb(63, 63, 63);
        width: 100%;
        border-top: 1px solid #e3e3e3;
        height: 1px;
    }

    .orangeT {
        color: #ff9f1c;
    }

    .hideMe {
        position: relative;
    }

    .vertCenter {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* Hide default radio buttons */
    input[type="radio"].square-radio {
        display: none;
    }

    /* Square design for custom radio buttons */
    input[type="radio"].square-radio + label {
       
        width: 30px; /* Set the width and height for square shape */
        height: 30px;
        border: 2px solid #999; /* Border color */
        border-radius: 4px; /* Rounded corners */
        margin-right: 10px; /* Adjust spacing between the radio button and label */
        cursor: pointer;
    }

    /* Style for selected radio button */
    input[type="radio"].square-radio:checked + label {
        background-color: #999; /* Background color when selected */
        color: white; /* Text color when selected */
    }

    .b1, .b2 {
        width: 100%;
        height: 8vh;
    }

    .b1 {
        border-radius: 1vw;
        background-color: #28bbad;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        color: white;
        border: 1px solid #28bbad;
        
    }

    .b2 {
        border-radius: 1vw;
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        color: #28bbad;
        border: 1px solid #28bbad;
    }

    .summary-item {
        display: flex;
        justify-content: space-between; /* Aligns items to each end of the container */
        align-items: center;
    }

    .strikeT {
        text-decoration: line-through;
        color: rgb(33, 37, 41);
    }

    .moneyRow {
        padding-top: 1vh;
    }

    @@media screen and (max-width: 600px) {
        /* Your styles for screens less than 600px wide go here */
        /* For example: */
        body { font-size: 1.2rem; }

        /* Adjust other elements as needed */
        .container { width: 90%; }

        /* Any other styles specific to smaller screens */
    }


</style>

<body class="">
<div class="d-flex justify-content-between mb-4">
    <img src="img/logo.svg" alt="logo" style="font-size: 2rem; padding-top: 0.5rem;"/>
    @*<div style="font-size: 2rem;"><i class="bi bi-cart2"></i></div>*@
</div>
<div class="">
    <div class="container pb-4">
        <div class="arrow-icon">
            <img class="aIcon" src="/img/arrow-left.svg">
        </div>
        <div class="text fw-bold bText">My Orders</div>
    </div>

    <div id="cartList" class="">
        @*Single Row*@
        <div class="d-flex mb-3 pb-2 w-100 whiteBg" id="row1">
            <div class="col-5 mr-2">
                <img src="/img/frame-2351.png" alt="" class="cartPic"/>
            </div>
            <div class="col-7 padLeft">
                <div class="d-flex flex-column justify-content-center pb-3 col-12" style="font-weight: 500;">
                        <div class="moneyRow">Mozarella sticks</div>
                        <div class="moneyRow" style="color: rgb(40, 187, 173);"><span hidden class="strikeT">RM <span id="strikeMoney1">12.90</span></span>RM <span id="money1">9.90</span></div>
                </div>
                <div class="d-flex">
                    <div class="qtyContainer col-6">
                        <div class="minusBtn d-flex justify-content-center align-items-center pb-1">-</div>
                        <span id="productQty" style="">1</span>
                        <div class="addBtn d-flex justify-content-center align-items-center pb-1">+</div>
                    </div>
                    <div class="col-2 d-flex">
                            <img src="/img/trash3.svg" alt="" class="trashPic" id="tr1"/>
                    </div>
                </div>
            </div>
        </div>
        @*Single Row*@
            <div class="d-flex mb-3 pb-2 w-100 whiteBg" id="row2">
            <div class="col-5 mr-2">
                <img src="/img/frame-23511.png" alt="" class="cartPic"/>
            </div>
            <div class="col-7 padLeft">
                <div class="d-flex flex-column justify-content-center pb-3 col-12" style="font-weight: 500;">
                        <div class="moneyRow">Mango smoothies</div>
                        <div class="moneyRow" style="color: rgb(40, 187, 173);"><span class="strikeT">RM <span id="strikeMoney2">12.90</span></span>&nbsp;&nbsp;RM <span id="money2">10.30</span></div>
                </div>
                <div class="d-flex">
                    <div class="qtyContainer col-6">
                        <div class="minusBtn minusBtn2 d-flex justify-content-center align-items-center pb-1">-</div>
                        <span id="productQty2" style="">1</span>
                        <div class="addBtn addBtn2 d-flex justify-content-center align-items-center pb-1">+</div>
                    </div>
                        <div class="col-2  d-flex">
                            <img src="/img/trash3.svg" alt="" class="trashPic" id="tr2"/>
                    </div>
                </div>
            </div>
        </div>
        @*Single Row*@
            <div class="d-flex mb-3 pb-2 w-100 whiteBg" id="row3">
            <div class="col-5 mr-2">
                    <img src="/img/frame-23512.png" alt="" class="cartPic" />
            </div>
            <div class="col-7 padLeft">
                <div class="d-flex flex-column justify-content-center pb-3 col-12" style="font-weight: 500;">
                        <div class="moneyRow">Chicken rice set A</div>
                        <div class="moneyRow" style="color: rgb(40, 187, 173);"><span class="strikeT">RM <span id="strikeMoney3">12.90</span></span>&nbsp;&nbsp;RM <span id="money3">10.30</span></div>
                </div>
                <div class="d-flex">
                    <div class="qtyContainer col-6">
                        <div class="minusBtn minusBtn3 d-flex justify-content-center align-items-center pb-1">-</div>
                        <span id="productQty3" style="">1</span>
                        <div class="addBtn addBtn3 d-flex justify-content-center align-items-center pb-1">+</div>
                    </div>
                        <div class="col-2  d-flex">
                            <img src="/img/trash3.svg" alt="" class="trashPic" id="tr3"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* below is the summary block *@
    <div id="resultDiv" class="pt-2">
        <div class="summary">
            <div class="fw-bold sumText">Summary</div>
            <div class="summary-item">
                <span>Subtotal</span>
                    <span class="align-right" id="">RM <span id="subtotal">35.70</span></span>
            </div>
            <div class="summary-item">
                <span>Discount sales</span>
                    <span class="align-right blueFont" id="">RM <span id="discountSales">5.20</span></span>
            </div>
            <div class="summary-item">
                <span>Tax</span>
                    <span class="align-right" id="">RM <span id="tax">2.20</span></span>
            </div>
            <div class="summary-item pt-2 pb-2">
                <div class="line-div"></div>
            </div>
            <div class="summary-item orangeT">
                <span>Total</span>
                    <span class="align-right" id="">RM <span id="total">2.20</span></span>
            </div>
        </div>
    </div>
    @* below is the payment block *@
    <div id="paymentDiv" class="pt-3">
        <div class="summary">
            <div class="fw-bold sumText">Payment method</div>
            <div class="summary-item pt-4 vertCenter">
                <span>Cash</span>
                <span class="align-right"><input type="radio" id="option1" name="options" class="square-radio"><label class="hideMe" for="option1">&nbsp;</label></span>
            </div>
            <div class="summary-item pt-3 vertCenter">
                <span>Online banking</span>
                <span class="align-right"><input type="radio" id="option2" name="options" class="square-radio"><label class="hideMe" for="option2">&nbsp;</label></span>
            </div>
        </div>
    </div>
    @* below is the buttons block *@
    <div id="buttonDiv" class="pt-5">
        <div class="summary">
                <button id="placeOrder" class="b1 fw-bold" onclick="placeOrder()">Place Order</button>
                <button id="addItem" class="b2 mt-4 fw-bold" onclick="addItem()">Add more items</button>
        </div>
    </div>

    <div id="footerDiv" class="pt-3">
    </div>
    


</div>

<script>
    $(document).ready(() => {

        $('[id^="tr"]').click(function () {
            var idNumber = $(this).attr('id').replace('tr', ''); // Extract number from button ID
            console.log(idNumber);
            var divId = '#row' + idNumber; // Combine 'row' with the number
            var divId2 = '#money' + idNumber;
            var divId3 = '#strikeMoney' + idNumber;
            console.log(divId);
            $(divId2).text("0");
            $(divId3).text("0");
            countNewTaxTotal();
            $(divId).hide(); 
            $(divId).removeClass('d-flex');
        });

        /* Horrible code, should loop id and what not but it's a todo for now. */
        var deductQtyBtn = document.querySelector(".minusBtn");
        var addQtyBtn = document.querySelector(".addBtn");
        var productQty = document.getElementById("productQty");

        deductQtyBtn.addEventListener("click",
            () => {
                var qty = parseInt(productQty.textContent);

                if (qty > 0) {
                    productQty.textContent = qty - 1;
                    $('#money1').text((parseFloat($('#money1').text()) - 9.90).toFixed(2));
                }
                countNewTaxTotal();
            });

        addQtyBtn.addEventListener("click",
            () => {
                var qty = parseInt(productQty.textContent);
                productQty.textContent = qty + 1;
                $('#money1').text((parseFloat($('#money1').text()) + 9.90).toFixed(2));
                countNewTaxTotal();
            });

        
        var deductQtyBtn2 = document.querySelector(".minusBtn2");
        var addQtyBtn2 = document.querySelector(".addBtn2");
        var productQty2 = document.getElementById("productQty2");

        deductQtyBtn2.addEventListener("click",
            () => {
                var qty = parseInt(productQty2.textContent);

                if (qty > 0) {
                    productQty2.textContent = qty - 1;
                        $('#money2').text((parseFloat($('#money2').text()) - 10.30).toFixed(2));
                        $('#strikeMoney2').text((parseFloat($('#strikeMoney2').text()) - 12.90).toFixed(2));
                        countNewTaxTotal();
                }
            });

        addQtyBtn2.addEventListener("click",
            () => {
                var qty = parseInt(productQty2.textContent);
                productQty2.textContent = qty + 1;
                    $('#money2').text((parseFloat($('#money2').text()) + 10.30).toFixed(2));
                    $('#strikeMoney2').text((parseFloat($('#strikeMoney2').text()) + 12.90).toFixed(2));
                    countNewTaxTotal();
            });

        var deductQtyBtn3 = document.querySelector(".minusBtn3");
        var addQtyBtn3 = document.querySelector(".addBtn3");
        var productQty3 = document.getElementById("productQty3");

        deductQtyBtn3.addEventListener("click",
            () => {
                var qty = parseInt(productQty3.textContent);

                if (qty > 0) {
                    productQty3.textContent = qty - 1;
                        $('#money3').text((parseFloat($('#money3').text()) - 10.30).toFixed(2));
                        $('#strikeMoney3').text((parseFloat($('#strikeMoney3').text()) - 12.90).toFixed(2));
                        countNewTaxTotal();
                }
            });

        addQtyBtn3.addEventListener("click",
            () => {
                var qty = parseInt(productQty3.textContent);
                productQty3.textContent = qty + 1;
                    $('#money3').text((parseFloat($('#money3').text()) + 10.30).toFixed(2));
                    $('#strikeMoney3').text((parseFloat($('#strikeMoney3').text()) + 12.90).toFixed(2));
                    countNewTaxTotal();
            });

        /* End horrible code */

    });



        function placeOrder() {
            window.location.href = "/cart/OrderConfirmation";
        };

        function addItem() {
            window.location.href = "/";
        };

    function countNewTaxTotal() {
        var total = 0;
        var noDisTotal = 0;
        var discount = 0;
        var tax = 0;

            total =
            parseFloat($('#money1').text()) +
            parseFloat($('#strikeMoney2').text()) +
            parseFloat($('#strikeMoney3').text());

            noDisTotal =
                parseFloat($('#money1').text()) +
                parseFloat($('#strikeMoney2').text()) +
                parseFloat($('#strikeMoney3').text());

        discount =
            parseFloat($('#strikeMoney2').text()) +
            parseFloat($('#strikeMoney3').text()) -
                parseFloat($('#money2').text()) -
            parseFloat($('#money3').text());

        tax = total * 0.06;

        total = total + tax;

            $('#subtotal').text(parseFloat(noDisTotal).toFixed(2));
            $('#discountSales').text(parseFloat(discount).toFixed(2));
            $('#tax').text(parseFloat(tax).toFixed(2));
            $('#total').text(parseFloat(total).toFixed(2));
    };

</script>

</body>
</html>