################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net7.0
/obj/Debug/net7.0/ref/Front end - ordering.dll
/obj/Debug/net7.0/refint/Front end - ordering.dll
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/Debug/net7.0/apphost.exe
/obj/Debug/net7.0/Front end - ordering.assets.cache
/obj/Debug/net7.0/Front end - ordering.csproj.AssemblyReference.cache
/obj/Debug/net7.0/Front end - ordering.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/Front end - ordering.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/Front end - ordering.dll
/obj/Debug/net7.0/Front end - ordering.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/Front end - ordering.genruntimeconfig.cache
/obj/Debug/net7.0/Front end - ordering.pdb
/obj/Debug/net7.0/project.razor.vs.json
/obj/Debug/net7.0/staticwebassets/msbuild.Front end - ordering.Microsoft.AspNetCore.StaticWebAssets.props
/obj/Debug/net7.0/staticwebassets.build.json
/obj/Debug/net7.0/staticwebassets.development.json
/obj/Debug/net7.0/staticwebassets.pack.json
/obj/Front end - ordering.csproj.nuget.dgspec.json
/obj/Front end - ordering.csproj.nuget.g.props
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Debug/net7.0/Front end - ordering.AssemblyInfo.cs
/obj/Debug/net7.0/Front end - ordering.AssemblyInfoInputs.cache
/obj/Debug/net7.0/Front end - ordering.GlobalUsings.g.cs
/obj/Debug/net7.0/Front end - ordering.RazorAssemblyInfo.cache
/obj/Debug/net7.0/Front end - ordering.RazorAssemblyInfo.cs
/.vs/Front end - ordering/FileContentIndex/0432cc4d-82b5-4f93-9e39-b29f21ccca3c.vsidx
/.vs/Front end - ordering/FileContentIndex/16756520-da01-443f-91da-0cd37b109b78.vsidx
/.vs/Front end - ordering/FileContentIndex/b3b2c70c-5fdb-4ff5-89cc-3f3fc8250a69.vsidx
/.vs/Front end - ordering/FileContentIndex/cc9eb787-b4b9-48c8-8f43-22509e20c217.vsidx
/.vs/Front end - ordering/FileContentIndex/d8bbfcaf-4f76-44a9-948c-0336649a9a6f.vsidx
/.vs/Front end - ordering/FileContentIndex/ee2c6784-9689-4c46-94b0-903ac23ab388.vsidx
/.vs/Front end - ordering/FileContentIndex/f49f7bba-20b5-444d-a4d5-599c4b72589e.vsidx
/.vs/Front end - ordering/FileContentIndex/read.lock
*.vsidx
/.vs/Front end - ordering/v17/.suo
/.vs/Front end - ordering/DesignTimeBuild/.dtbcache.v2
/Front end - ordering/bin/Debug/net7.0/Front end - ordering.dll
/Front end - ordering/bin/Debug/net7.0/Front end - ordering.exe
/Front end - ordering/bin/Debug/net7.0/Front end - ordering.pdb
/Front end - ordering/bin/Debug/net7.0/Front end - ordering.staticwebassets.runtime.json
/Front end - ordering/obj/Debug/net7.0/ref/Front end - ordering.dll
/Front end - ordering/obj/Debug/net7.0/apphost.exe
/Front end - ordering/obj/Debug/net7.0/Front end - ordering.csproj.CoreCompileInputs.cache
/Front end - ordering/obj/Debug/net7.0/Front end - ordering.csproj.FileListAbsolute.txt
/Front end - ordering/obj/Debug/net7.0/Front end - ordering.dll
/Front end - ordering/obj/Debug/net7.0/Front end - ordering.genruntimeconfig.cache
/Front end - ordering/obj/Debug/net7.0/Front end - ordering.pdb
/Front end - ordering/obj/Debug/net7.0/refint/Front end - ordering.dll
/Front end - ordering/obj/Debug/net7.0/staticwebassets.build.json
/Front end - ordering/obj/Debug/net7.0/staticwebassets.development.json
/Front end - ordering/obj/Debug/net7.0/staticwebassets.pack.json
/Front end - ordering/obj/Debug/net7.0/staticwebassets/msbuild.Front end - ordering.Microsoft.AspNetCore.StaticWebAssets.props
/Front end - ordering/obj/Debug/net7.0/Front end - ordering.assets.cache
/Front end - ordering/obj/Debug/net7.0/Front end - ordering.csproj.AssemblyReference.cache
/Front end - ordering/obj/Debug/net7.0/Front end - ordering.GeneratedMSBuildEditorConfig.editorconfig
/Front end - ordering/obj/Debug/net7.0/project.razor.vs.json
/Front end - ordering/obj/Debug/net7.0/staticwebassets/msbuild.Front end - ordering.Microsoft.AspNetCore.StaticWebAssets.props
/Front end - ordering/obj/Front end - ordering.csproj.nuget.dgspec.json
/Front end - ordering/obj/Front end - ordering.csproj.nuget.g.props
/Front end - ordering/obj/project.assets.json
/Front end - ordering/obj/project.nuget.cache
