@{
    ViewData["Title"] = "Home Page";
}

<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content:space-between ;
    }

    li {
        display: inline-block;
        height: 30px;
        font-size: 1.3rem;
    }

    li a {
        /* display: block; */
        text-align: center;
        padding: 14px 0px;
        text-decoration: none;
        color: rgb(108,117,125);
    }

    .active {
        color: rgb(40,187,173);
        border-bottom: 3px solid rgb(40,187,173);
    }

    a:hover {
        color: rgb(40,187,173);
    }

    .productName {
        font-weight: bold;
        font-size: 1.4rem;
    }

    .productDescription{
        color: rgb(108,117,125);
        line-height: 18px;
    }

    .productPrice {
        font-size: 1.4rem;
        font-weight: bold;
        color: rgb(40,187,173);
    }

    #navBar {
        padding: 10px 8px;
    }

    .line {
        border-bottom: 1px solid rgb(200,200,200);
        width: 110%;
        left: -10px;
        position: relative;
        margin-bottom: 1rem;
    }

    #productContents {
        padding: 0 10px;
    }

    .productContentsLine{
        border-bottom: 1px solid rgb(200,200,200);
        position: relative;
        top: -20px;
    }
</style>

<div>
    <div class="d-flex justify-content-between mb-2">
        <img src="img/logo.svg" alt="logo" style="font-size: 2rem; padding-top: 0.5rem;" />
        <div style="font-size: 2rem;"><i class="bi bi-cart2"></i></div>
    </div>

    <div id="foodBanner" style="" class="mb-3">
        <div class="row bg-black h-100">
            <div class="col-12" style="padding: 0;">
                <img src="img/promo-poster@3x.png" alt="pizzaImg" class="w-100 h-100" />
            </div>
        </div>
    </div>


    <div id="navBar" class="mb-3">
        <ul>
            <li><a class="active" href="#popular">Most popular</a></li>
            <li><a href="#appetizers">Appetizers</a></li>
            <li><a href="#mainDishes">Main dishes</a></li>
        </ul>
    </div>

    <div class="line"></div>

    <div id="productContents">

        <div id="popular">
            <div class="row mb-5 product">
                <div class="col-4">
                    <img src="/img/frame-2351@2x.png" alt="mozarella" class="w-100 h-100"/>

                </div>
                <div class="col-8" id="productWordings">
                    <div class="productName pb-2">Mozarella sticks</div>
                    <div class="productDescription pb-3">Golden and irresistibly crispy on the outside, our Mozarella Sticks are a delightful burst of cheesy goodness.</div>
                    <div class="productPrice">RM 9.90</div>
                </div>

            </div>

            <div class="productContentsLine"></div>

        
            <div class="row mb-5 product">
                <div class="col-4">
                    <img src="/img/frame-2351@2x.png" alt="mozarella" class="w-100 h-100"/>

                </div>
                <div class="col-8" id="productWordings">
                    <div class="productName pb-2">Mozarella sticks</div>
                    <div class="productDescription pb-3">Golden and irresistibly crispy on the outside, our Mozarella Sticks are a delightful burst of cheesy goodness.</div>
                    <div class="productPrice">RM 9.90</div>
                </div>
            </div>
            <div class="productContentsLine"></div>

            <div class="row mb-5 product">
                <div class="col-4">
                    <img src="/img/frame-2351@2x.png" alt="mozarella" class="w-100 h-100"/>

                </div>
                <div class="col-8" id="productWordings">
                    <div class="productName pb-2">Mozarella sticks</div>
                    <div class="productDescription pb-3">Golden and irresistibly crispy on the outside, our Mozarella Sticks are a delightful burst of cheesy goodness.</div>
                    <div class="productPrice">RM 9.90</div>
                </div>
            </div>
            <div class="productContentsLine"></div>
        </div>


        <div id="appetizers">
            <div class="row mb-5 product">
                <div class="col-4">
                    <img src="/img/frame-2351@2x.png" alt="mozarella" class="w-100 h-100"/>

                </div>
                <div class="col-8" id="productWordings">
                    <div class="productName pb-2">Mushroom soup</div>
                    
                    <div class="productDescription pb-3">Golden and irresistibly crispy on the outside, our Mozarella Sticks are a delightful burst of cheesy goodness.</div>
                    
                    <div class="productPrice">RM 9.90</div>
                </div>
            </div>
            <div class="productContentsLine"></div>

            <div class="row mb-5 product">
                <div class="col-4">
                    <img src="/img/frame-2351@2x.png" alt="mozarella" class="w-100 h-100"/>

                </div>
                <div class="col-8" id="productWordings">
                    <div class="productName pb-2">Mushroom soup</div>
                    
                    <div class="productDescription pb-3">Golden and irresistibly crispy on the outside, our Mozarella Sticks are a delightful burst of cheesy goodness.</div>
                    
                    <div class="productPrice">RM 9.90</div>
                </div>
            </div>
            <div class="productContentsLine"></div>

            <div class="row mb-5 product">
                <div class="col-4">
                    <img src="/img/frame-2351@2x.png" alt="mozarella" class="w-100 h-100"/>

                </div>
                <div class="col-8" id="productWordings">
                    <div class="productName pb-2">Mushroom soup</div>
                    
                    <div class="productDescription pb-3">Golden and irresistibly crispy on the outside, our Mozarella Sticks are a delightful burst of cheesy goodness.</div>
                    
                    <div class="productPrice">RM 9.90</div>
                </div>
            </div>
            <div class="productContentsLine"></div>
        </div>



        <div id="mainDishes">
            <div class="row mb-5 product">
                <div class="col-4">
                    <img src="/img/frame-2351@2x.png" alt="mozarella" class="w-100 h-100"/>

                </div>
                <div class="col-8" id="productWordings">
                    <div class="productName pb-2">Spaghetti Aglio Olio</div>
                    
                    <div class="productDescription pb-3">Golden and irresistibly crispy on the outside, our Mozarella Sticks are a delightful burst of cheesy goodness.</div>
                    
                    <div class="productPrice">RM 9.90</div>
                </div>
            </div>
            <div class="productContentsLine"></div>

            <div class="row mb-5 product">
                <div class="col-4">
                    <img src="/img/frame-2351@2x.png" alt="mozarella" class="w-100 h-100"/>

                </div>
                <div class="col-8" id="productWordings">
                    <div class="productName pb-2">Spaghetti Aglio Olio</div>
                    
                    <div class="productDescription pb-3">Golden and irresistibly crispy on the outside, our Mozarella Sticks are a delightful burst of cheesy goodness.</div>
                    
                    <div class="productPrice">RM 9.90</div>
                </div>
            </div>
            <div class="productContentsLine"></div>

            <div class="row mb-5 product">
                <div class="col-4">
                    <img src="/img/frame-2351@2x.png" alt="mozarella" class="w-100 h-100"/>

                </div>
                <div class="col-8" id="productWordings">
                    <div class="productName pb-2">Spaghetti Aglio Olio</div>
                    
                    <div class="productDescription pb-3">Golden and irresistibly crispy on the outside, our Mozarella Sticks are a delightful burst of cheesy goodness.</div>
                    
                    <div class="productPrice">RM 9.90</div>
                </div>
            </div>
        </div>


    </div>

</div>


<script>
    $(document).ready(function () {
        var anchors = document.querySelectorAll("li a")

        anchors.forEach(anchorTag => {
            anchorTag.addEventListener("click", transferActiveClass)
        })

        var allProducts = document.querySelectorAll(".product")

        allProducts.forEach(product => {
            product.addEventListener("click", () => {
                location.href = "/Home/MenuDetail/"
            })
        })
    })

    function transferActiveClass() {
        var activeElement = document.querySelector(".active")

        activeElement.classList.remove("active");
        this.classList.add("active");
    }


</script>