<style>
    .container {
        overflow-x: hidden;

    }


    .productName {
        font-weight: bold;
        font-size: 1.4rem;
    }

    .productDescription {
        color: rgb(108,117,125);
        line-height: 18px;
    }

    .productPrice {
        font-size: 1.4rem;
        font-weight: bold;
        color: rgb(40,187,173);
    }

    .productCategory {
        font-size: 1.4rem;
        font-weight: bold;
        color: rgb(40,187,173);
    }

    #productContents{
        padding: 0 2rem;
    }

    .qtyContainer {
        background-color: rgb(203,243,240);
        border-radius: 15px;
        width: 150px;
        height: 48px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .minusBtn {
        border: none;
        border-radius: 40px;
        background-color: white;
        color: rgb(203,243,240);
        height: 30px;
        width: 30px;
        font-size: 2rem;
    }

    .addBtn {
        border: none;
        border-radius: 40px;
        background-color: black;
        color: white;
        height: 30px;
        width: 30px;
        font-size: 2rem;
    }

    #qtyAndCheckOutContainer{
        padding-left: 2rem;
        padding-right: 1.5rem;
    }

    #addToOrder{
        background-color: rgb(255,159,28);
        border-radius: 7px;
        width: 150px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
    }

    #proceedPaymentContainer{
        background-color: rgb(227,227,227);
        width: 237px;
        height: 57px;
        color: rgb(255,159,28);
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 10px;
        border: 2px solid rgb(255,159,28);
    }
</style>



<div>
    <div class="d-flex justify-content-between mb-4">
        <img src="/img/logo.svg" alt="logo" style="font-size: 2rem; padding-top: 0.5rem;" />
        <div style="font-size: 2rem;"><i id="cartIcon" class="bi bi-cart2"></i></div>
    </div>

    <div id="foodBanner" class="mb-4">
        <div class="row">
            <div class="col-12" style="padding: 0;">
                <img src="/img/frame-2360.png" alt="" class="w-100"/>
            </div>
        </div>
    </div>


    <div id="productContents" class="mb-3">
        <div class="productCategory mb-3">
            Appetizers
        </div>
        <div class="productName mb-1">
            Mozarella sticks
        </div>
        <div class="productDescription mb-3">
            Golden and irresistibly crispy on the outside, our Mozarella Sticks are a delightful burst of cheesy goodness.
        </div>
        <div class="productPrice">
            RM 9.90
        </div>
    </div>

    <div id="qtyAndCheckOutContainer">
        <div class="d-flex justify-content-between mb-3">
            <div class="qtyContainer">
                <div class="minusBtn d-flex justify-content-center align-items-center pb-1">-</div>
                <span id="productQty" style="font-size: 1.3rem;">0</span>
                <div class="addBtn d-flex justify-content-center align-items-center pb-1">+</div>
            </div>

            <div id="addToOrder">
                Add to order
            </div>
        </div>
        
        <div class="d-flex justify-content-center mb-4">
            <div id="proceedPaymentContainer" class="d-flex justify-content-center align-items-center">
                <div class="pe-3" style="font-size: 1.8rem; padding-bottom: 8px;"><i class="bi bi-cart2"></i></div>
                <div>Proceed to payment</div>
            </div>
        </div>
    </div>

    <div class="pt-3" style="background-color: rgb(248,248,248); padding-left: 2rem; width: 106%; position: relative; left: -12px;">
        <div class="mb-3" style="font-size: 1.2rem; color: rgb(40,187,173); font-weight: 500;">You may also like</div>
        <div class="d-flex pb-5">
            <img src="/img/frame-2364.png" alt=""/>
            <div class="ps-4 d-flex flex-column justify-content-center pb-3" style="font-size: 1.2rem; font-weight: 500; line-height: 30px;">
                <div>Samosa</div>
                <div style="color: rgb(40,187,173);">RM 8.50</div>
            </div>
            <div class="addBtn d-flex justify-content-center align-items-center pb-1" style="align-self: flex-end; margin-left: 1.8rem;">+</div>
        </div>
    </div>


</div>


<script>
    $(document).ready(() => {
        var deductQtyBtn = document.querySelector(".minusBtn")
        var addQtyBtn = document.querySelector(".addBtn")
        var productQty = document.getElementById("productQty")

        deductQtyBtn.addEventListener("click", () => {
            var qty = parseInt(productQty.textContent)

            if (qty > 0){
                productQty.textContent = qty - 1;
            }
        })

        addQtyBtn.addEventListener("click",
            () => {
                var qty = parseInt(productQty.textContent)
                productQty.textContent = qty + 1;
            });

        document.getElementById("cartIcon").addEventListener("click", function() {
            window.location.href = "cart";
        });
    })



</script>

