@{
    Layout = null;
}

<div class="row mb-5 product">
    <div class="col-4">
        <img src="/img/frame-2351@2x.png" alt="mozarella" class="w-100 h-100" />

    </div>
    <div class="col-8" id="productWordings">
        <div class="productName pb-2">Mushroom soup</div>

        <div class="productDescription pb-3">Golden and irresistibly crispy on the outside, our Mozarella Sticks are a delightful burst of cheesy goodness.</div>

        <div class="productPrice">RM 9.90</div>
    </div>
</div>
<div class="productContentsLine"></div>

<div class="row mb-5 product">
    <div class="col-4">
        <img src="/img/frame-2351@2x.png" alt="mozarella" class="w-100 h-100" />

    </div>
    <div class="col-8" id="productWordings">
        <div class="productName pb-2">Mushroom soup</div>

        <div class="productDescription pb-3">Golden and irresistibly crispy on the outside, our Mozarella Sticks are a delightful burst of cheesy goodness.</div>

        <div class="productPrice">RM 9.90</div>
    </div>
</div>
<div class="productContentsLine"></div>

<div class="row mb-5 product">
    <div class="col-4">
        <img src="/img/frame-2351@2x.png" alt="mozarella" class="w-100 h-100" />

    </div>
    <div class="col-8" id="productWordings">
        <div class="productName pb-2">Mushroom soup</div>

        <div class="productDescription pb-3">Golden and irresistibly crispy on the outside, our Mozarella Sticks are a delightful burst of cheesy goodness.</div>

        <div class="productPrice">RM 9.90</div>
    </div>
</div>
<div class="productContentsLine"></div>